<div class="row row-cols-1 row-cols-md-2 g-4">

    @for (todo of allTodos; track $index) {
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Todo Title: {{todo.title}}</h5>
                <p class="card-text">Todo ID : {{todo.id}}</p>
                <p class="card-text">User ID : {{todo.userId}}</p>
                <p class="card-text">Completed Status: {{todo.completed}}</p>
            </div>
        </div>
    </div>
    }

</div>