<div class="row row-cols-1 row-cols-md-2 g-4">
    @for (comment of allComments; track $index) {
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Comment Name {{comment.name}}</h5>
                <p class="card-text">Comment ID {{comment.id}}</p>
                <p class="card-text">Email {{comment.email}}</p>
                <p class="card-text">Comment PostID {{comment.postId}}</p>
                <p class="card-text">Comment Body{{comment.body}}</p>
            </div>
        </div>
    </div>
    }
</div>